<div id='screens_wrapper' class="wrapper">	
		<appheader></appheader>
		<leftsidebar></leftsidebar>
		<div class = "page-content {{toggle}}" >	
			<maincontainer></maincontainer>				
		</div>		
</div>