<div class="container-fluid">
	<!-- Begin page heading -->
	<!-- <h1 class="page-heading">Авторы и их книги <small></small></h1> -->
	<!-- End page heading -->

	<!-- Begin breadcrumb -->
<!-- 	<ol class="breadcrumb default square rsaquo sm">
		<li><a href="index.html"><i class="fa fa-home"></i></a></li>
		<li class="active"><a href="#">Все авторы</a></li>
		<li><a href="#">Только с обновлениями</a></li>
	</ol> -->
	<!-- End breadcrumb -->
	
	<div style="top:67px; margin-left: -15px; bottom:0 ; position: fixed; width:100%"> <!-- 185 -->
		<bookslist style="background-color: #f0f1f2"></bookslist>
		<authorslist style="width: 300px;"></authorslist>
	</div>

</div><!-- /.container-fluid -->



<!-- BEGIN FOOTER -->
<!-- <footer>
	&copy; 2015 <a href="#fakelink">Books updates informer (SIInformer)</a><br />
	Created by <a href="http://samlib.ru/p/pupkin_wasja_ibragimowich/" target="_blank">Ясинский Анджей</a>
</footer> -->
<!-- END FOOTER -->

